<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>704139293800-csk48e7k9c90q8oo0otnmlgfkd86ck05.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCrNNoOIdpAM4q-Dtw04TZYLqFow6QdG0A</string>
	<key>GCM_SENDER_ID</key>
	<string>704139293800</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shangchianliu.todilist</string>
	<key>PROJECT_ID</key>
	<string>todolist-425914</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-425914.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:704139293800:ios:246071495ecd7b4734f7dd</string>
	<key>DATABASE_URL</key>
	<string>https://todolist-425914-default-rtdb.firebaseio.com</string>
</dict>
</plist>